{% extends 'layout.html.twig' %}

{% block title %}{% trans %}View user{% endtrans %}{% endblock %}

{% block main %}
    <div class="container well">

        <div class="col-md-9">
            <div class="col-md-9">
                <h2>{{ task.title }}</h2><br>

                <dl>
                    <dt>{% trans %}Description{% endtrans %}</dt>
                    <dd>{{ task.description }}&nbsp;</dd>&nbsp;

                    <dt>{% trans %}User{% endtrans %}</dt>
                    <dd><a href="{{ path('user_view', { 'id': task.user.id }) }}">{{ task.user }}</a>&nbsp;</dd>&nbsp;

                    <dt>{% trans %}Status{% endtrans %}</dt>
                    <dd>
                        {% if task.status %}
                        <span class="custom-text-green"><b>{% trans %}Completed{% endtrans %}</b></span>
                    {% else %}
                        <span class="custom-text-red"><b>{% trans %}Pending{% endtrans %}</b></span>
                        {% endif %}&nbsp;
                    </dd>&nbsp;

                    <dt>{% trans %}Created{% endtrans %}</dt>
                    <dd>{{ task.createdAt|date('d-m-Y H:i:s') }}&nbsp;</dd>&nbsp;

                    <dt>{% trans %}Updated{% endtrans %}</dt>
                    <dd>{{ task.updatedAt|date('d-m-Y H:i:s') }}&nbsp;</dd>&nbsp;
                </dl>
            </div>
        </div>

        <div class="col-md-3">
            <h3 class="text-center">{% trans %}Actions{% endtrans %}</h3>&nbsp;

            <p>
                <a href="{{ path('task_edit', { id: task.id }) }}">
                    <button type="button" class="btn btn-lg btn-primary btn-block custom-action-button-big"
                            title="{% trans %}edit{% endtrans %}">
                        <i class="fa fa-pencil-square-o fa-3x"></i>
                    </button>
                </a>
            </p>

            <p>
                {{ include('task/delete_form.html.twig', { form_id: 'delete-task-info-view', show_button: true }) }}
            </p>
        </div>
    </div>
{% endblock %}
